button {
    margin: 0;
    padding: 0;
    border: 0.5px solid rgb(35,38,44);
    outline: none;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    color: rgb(228,229,228);
    cursor: pointer;

    &:hover {
        filter:brightness(85%);
    }
}

.calc {
    margin: 0 auto;
    width: 350px;
    max-width: 350px;
    height: 500px;
    border: 1px solid rgb(106,107,107);
    display: grid;
    grid-template-rows: auto 1fr 6fr;
    background-color: rgb(38,40,45);
    color: #fff;
    border-radius:20px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0,0, 0.6);
    transition: all 0.5s;

    &__header {
        display: flex;
        align-items: center;
        padding: 7px 0;
        padding-left: 10px;
        max-width: 350px;
        
    }

    &__display {
        display: flex;
        padding-right: 15px;
        max-width: 100%;
        align-items: center;
        justify-content: flex-end;
        font-size: 48px;
        font-weight:200
    }

    &__btns{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr); 

        &--nums {
            display: grid;
            grid-row: 2/ 6;
            grid-column: 1/ 4;
            grid-template-columns: 1fr 1fr 1fr;
            & > * {
                background-color: rgb(89,92,98);
            }
        }

        &--top {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(3, 1fr);
            grid-row: 1 / span 1;
            grid-column: 1 / 4;
            & > * {
                background-color: rgb(57, 59, 66);
            }
        }

        &--orange {
            display: grid;
            grid-column: 4/ span 1;
            grid-row: 1 / -1;
           & > * {
               background-color: rgb(243,163,60);
           }
        }

        .num0 {
            grid-column: 1 /3;
            grid-row: 4 /5;
        }
    }

}

.control {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 3px;

}

.red {
    background-color: rgb(237,106,94);
}

.yellow {
    background-color: rgb(245,191,79);;
}

.green {
    background-color: rgb(98,197,74);;
}

